<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon.ico') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='variables.css') }}">

    <title>Starico</title>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Vazirmatn:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header class="navbar">


    <a href="/" class="logo">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">

        <span>Starico</span>

    </a>


    <nav class="nav-links">

        <a href="/">Home</a>

        <a href="/products">Products</a>

        <a href="/login">Login</a>

        <a href="/register">Register</a>

    </nav>


</header>



<main>

{% block content %}
{% endblock %}

</main>



<footer>

    © 2026 Starico • Made with 💜

</footer>


</body>

</html>